<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Control</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <style>
        body {
            padding-top: 80px; /* Make space for fixed navbar */
        }
        .container, .user-info {
            text-align: center;
        }
        .header, .info-box, .user-info {
            margin-top: 20px;
        }
        .display-box, .control-button {
            margin: 10px auto;
            padding: 10px 20px;
            font-size: 1.5rem;
            width: 100%; /* Full width for better display */
        }
        .navbar {
            background-color: #f8f9fa;
        }
        .label-box {
            font-size: 20px;
        }
    </style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var socket = io(location.origin + "/webclient");

        socket.on('rpi_status', function(data) {
            var rpiStatusElement = document.getElementById('rpi-status');
            rpiStatusElement.innerHTML = data.connected ? 'Raspberry Pi Connection: Connected' : 'Raspberry Pi Connection: Disconnected';
            rpiStatusElement.style.color = data.connected ? 'green' : 'red';
        });

        socket.on('status_updated', function(data) {
            var statusElement = document.getElementById('status');
            var statusText = {
                "1": "Current Status: Connected",
                "2": "Current Status: Disconnected",
                "default": "Current Status: Unknown"
            }[data.new_status] || "Current Status: Unknown";
            statusElement.innerHTML = statusText;
        });

        socket.on('update_tickets', function(data) {
            document.getElementById('total-tickets').innerText = data.total_tickets;
        });


        socket.on('update_tokens', function(data) {
            var tokensElement = document.getElementById('tokens');
            var totalTokensElement = document.getElementById('total-tokens');

            // Calculate new token count by adding the incoming tokens to the current count
            var currentTokens = parseInt(tokensElement.innerText);
            var newTokensCount = currentTokens + data.tokens_added;
            
            // Update the session tokens display with the new token count
            tokensElement.innerText = newTokensCount;

            // Update the total tokens display directly from data
            totalTokensElement.innerText = data.remaining_tokens;

            // Update the button state based on the new session token count
            updateButtonState(newTokensCount);
        });

        document.getElementById('leftButton').addEventListener('click', function() {
            socket.emit('button_push', { machine_id: "1", action: "left" });
        });

        document.getElementById('rightButton').addEventListener('click', function() {
            socket.emit('button_push', { machine_id: "1", action: "right" });
        });

        var machineId = "{{ machine[0].id }}"; // Store the machine ID from Flask into a JavaScript variable

        socket.on('subtract_token', function(data) {
            if (data.machine_id === machineId) {
                updateTokenCount(-1);  // Subtracts 1 token from the displayed remaining tokens
            } else {
                console.log('Error subtracting tokens or incorrect machine ID {{machine[0].id}}');
            }
        });

        document.getElementById('depositFive').addEventListener('click', function() {
            socket.emit('deposit_tokens', { tokens: 5 });
        });

        document.getElementById('depositTen').addEventListener('click', function() {
            socket.emit('deposit_tokens', { tokens: 10 });
        });

        socket.on('tokens_update', function(data) {
            if (data.success) {
                alert('Tokens added: ' + data.tokens_added);
            } else {
                alert('Not enough tokens. Remaining: ' + data.remaining_tokens);
            }
        });

        socket.on('update_frame', function(data) {
            console.log('got frame from server');
            var img = document.getElementById('video-stream');
            img.src = 'data:image/jpeg;base64,' + data.image_data;
        });

        function updateTokenCount(change) {
            var tokensElement = document.getElementById('tokens');
            var currentTokens = parseInt(tokensElement.innerText);
            var newTokenCount = currentTokens + change;
            tokensElement.innerText = newTokenCount;
            updateButtonState(newTokenCount);
        }
        var initialTokens = 0; // Assuming no tokens initially, adjust as needed
        updateButtonState(initialTokens);
        
        function updateButtonState(tokens) {
            var leftButton = document.getElementById('leftButton');
            var rightButton = document.getElementById('rightButton');
            leftButton.disabled = tokens <= 0;
            rightButton.disabled = tokens <= 0;
        }
    });
</script>


</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Online Coin Pusher</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user_id %}
                    <li class="nav-item">
                        <p>Profile</p>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="header">{{ machine[0].name }}</h1>
        <h1 class="header">User_ID1: {{ user }}</h1>
        <div id="status">Current Status: Connecting...</div>
        <div id="rpi-status">Raspberry Pi Connection: Checking...</div>
        <h1>Live Video Stream</h1>
        <img id="video-stream" src="" alt="Video Stream">
        <div class="row">
            <div class="col-md-6 info-box">
                <div class="label-box">Session Tokens Left</div>
                <div id="tokens" class="display-box">0</div>
            </div>
            <div class="col-md-6 info-box">
                <div class="label-box">Total Tickets</div>
                <div id="total-tickets" class="display-box">{{ userdata.tickets_won }}</div>
            </div>
            <div class="col-md-6 info-box">
                <div class="label-box">Total Tokens</div>
                <div id="total-tokens" class="display-box">{{userdata.plays}}</div>
            </div>
        </div>
        <div id="button-container">
            <button id="leftButton" class="btn btn-lg btn-primary control-button">Left</button>
            <button id="rightButton" class="btn btn-lg btn-primary control-button">Right</button>
            <div id="token-controls">
                <button id="depositFive" class="btn btn-lg btn-primary control-button">Deposit 5 Tokens</button>
                <button id="depositTen" class="btn btn-lg btn-primary control-button">Deposit 10 Tokens</button>
            </div>
        </div>
    </div>
</body>
</html>
