<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Control</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <style>
        #button-container { text-align: center; padding: 20px; }
        .control-button { margin: 10px; width: 150px; }
        #status, #rpi-status { text-align: center; margin-top: 20px; font-size: 24px; }
        #rpi-status { color: #007bff; } /* Blue for Raspberry Pi status */
        .info-box { margin-top: 20px; text-align: center; font-size: 20px; }
        .display-box { padding: 10px 20px; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; font-size: 1.5rem; width: 100%; }
        .label-box { margin-bottom: 0.5rem; }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io(location.origin + "/webclient");

            socket.on('update_tokens', function(data) {
                var tokens = parseInt(data.tokens_added);
                document.getElementById('tokens').innerText = tokens;
                updateButtonState(tokens); // Check and update button state based on token count
            });

            function updateButtonState(tokens) {
                var leftButton = document.getElementById('leftButton');
                var rightButton = document.getElementById('rightButton');
                if (tokens <= 0) {
                    leftButton.disabled = true;
                    rightButton.disabled = true;
                } else {
                    leftButton.disabled = false;
                    rightButton.disabled = false;
                }
            }

            document.getElementById('leftButton').addEventListener('click', function() {
                socket.emit('button_push', { machine_id: "1", action: "left" });
                console.log('Left button clicked');
                updateTokenCount(-1);
            });

            document.getElementById('rightButton').addEventListener('click', function() {
                socket.emit('button_push', { machine_id: "1", action: "right" });
                console.log('Right button clicked');
                updateTokenCount(-1);
            });

            function updateTokenCount(change) {
                var tokenElement = document.getElementById('tokens');
                var currentTokens = parseInt(tokenElement.innerText);
                var newTokenCount = currentTokens + change;
                tokenElement.innerText = newTokenCount;
                updateButtonState(newTokenCount);
            }
        });
    </script>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="display-4 text-center mb-4">{{ machine[0].name }}</h1>
        <div id="status" class="alert alert-primary">Current Status: Connecting...</div>
        <div id="rpi-status">Raspberry Pi Connection: Checking...</div>
        <div class="row">
            <div class="col-md-6">
                <div class="info-box text-center">
                    <div class="label-box">Tickets</div>
                    <div id="tickets" class="display-box">0</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box text-center">
                    <div class="label-box">Tokens Left</div>
                    <div id="tokens" class="display-box">0</div>
                </div>
            </div>
        </div>
        <div id="button-container">
            <button id="leftButton" class="btn btn-lg btn-primary control-button">Left</button>
            <button id="rightButton" class="btn btn-lg btn-primary control-button">Right</button>
        </div>
        <div id="token-controls">
            <button id="depositFive">Deposit 5 Tokens</button>
            <button id="depositTen">Deposit 10 Tokens</button>
        </div>
    </div>
</body>
</html>
